.mainContent {
	height: 312px;
	width: 1000px;
	position: relative;
}
.window {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.allPagesContainer {
	height: 100%;
	display: flex;

	transition: translate ;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
.arrowLeft{
	position: absolute;
	top: 45%;
	left: -2%;
	z-index: 2;
	cursor:pointer;
}

.arrowRight{
	position: absolute;
	top: 45%;
	right: -2%;
	z-index: 1;
	cursor:pointer;
}